#include "PocketCasts.base.xcconfig"

// Redefining doesn't seem to work, Xcode resolves it as ".prototype" only
//PRODUCT_BUNDLE_IDENTIFIER_ROOT = $(PRODUCT_BUNDLE_IDENTIFIER_ROOT).prototype
PRODUCT_BUNDLE_IDENTIFIER_ROOT = com.covertwogames.podhopper.prototype
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_ROOT)

DEVELOPMENT_TEAM = 9GB44VQQSH

// PodHopper: no manual provisioning; every configuration signs automatically.

OTHER_SWIFT_FLAGS = -D DEBUG
